[2020-03-04 20:02] dzeber opened #2 "[Outreachy applications] Startup task: Train and test a classification model"
This is a good way to get started with the environment and the problem domain. It will also provide the basis for a test case for future work. At a minimum, you should:

- load a dataset from the repo
- train a classification model from [scikit-learn](https://scikit-learn.org/stable/supervised_learning.html)
- compute an [evaluation metric](https://scikit-learn.org/stable/modules/model_evaluation.

[2020-03-04 20:50] dzeber opened #3 "[Outreachy applications] Traversal of the space of train/test splits"
Given a classification model, we want to investigate how much the performance score computed on the test set depends on the choice of train/test split proportion. Eg. how would our performance estimate change if we used a 60/40 split rather than 80/20?

Write a function that takes a scikit-learn estimator and a dataset, and computes an evaluation metric over a grid of train/test split proportions

[2020-03-04 20:55] dzeber opened #4 "[Outreachy applications] Traversal of the space of cross-validation folds"
Similarly to #3, we want to investigate how much the performance score computed using cross-validation depends on the number of folds. Eg. how would our performance estimate change if we used 10-fold rather than 5-fold?

Write a function that takes a scikit-learn estimator and a dataset, and computes an evaluation metric using repeated K-fold cross-validation over a grid of K values from 1 to n. I

[2020-03-04 21:34] dzeber opened #5 "[Outreachy applications] Calibration plot"
A calibration plot assesses how well the predicted class probabilities match the actual rate of occurrence in the dataset.

Write a function to create a calibration plot given one or more binary classifiers and a test set. For each model it would compute predicted probabilities for each test datapoint. These probability values should then be binned according to a scheme (eg. intervals of 10%), and

[2020-03-04 21:51] dzeber opened #6 "[Outreachy applications] Visualization of an evaluation metric"
A common theme in classifier tuning and evaluation is to plot a metric against the values of some parameter with repeated runs to assess variability. We would like to have a general utility for producing such plots.

It should take as input at table with columns (x, y1, y2, ..., yk), ie multiple y values for each x, and plot the average y value vs x with the spread of the y-values represented in s

[2020-03-04 22:06] dzeber opened #7 "[Outreachy applications] Visualization for misclassifications"
Misclassifications can reveal a lot about the boundaries of performance of a classifier. Develop a visualization that helps dig into misclassified datapoints in the test set. A simple approach for a binary classifier would be to plot a histogram of the predicted class probabilities across the misclassified test samples in each class.

[2020-03-04 22:18] dzeber opened #8 "Importance score for dataset training samples"
Implement a way to assess the importance of an inidividual training datapoint to the performance of the model. This could be done by training the same model with a particular point included and then excluded from the training set, and computing the difference in performance scores on the test set.

[2020-03-04 23:49] dzeber opened #9 "[Outreachy applications] Comparing test sample classifications between models"
To delve further into model performance comparisons, it would be interesting to compare the classification results (ie. predicted probabilities) for individual datapoints. This would also help to understand misclassifications.

Develop a visualization to compare predicted class probabilities across models for binary classifiers. For example, this could present a histogram of the difference in pred

[2020-03-05 16:52] KaairaGupta commented on #7
This issue seems interesting. May I be assigned this?

[2020-03-05 16:53] KaairaGupta commented on #2
Hey!
Can I work on this??

[2020-03-05 17:02] tab1tha commented on #2
I'll use the generated.csv dataset.

[2020-03-05 17:04] dzeber commented on #2
@KaairaGupta yes! in fact everyone is encouraged to work on this issue first

[2020-03-05 17:09] KaairaGupta commented on #2
Okay.

I'll use winequality.csv dataset

[2020-03-05 17:19] mhmohona commented on #2
Hello @dzeber! I want to work on vehicles.csv.

[2020-03-05 17:30] mhmohona commented on #2
Hello @dzeber! I want to work on defaults.csv.

[2020-03-05 17:37] dzeber commented on #2
Sounds good! To be clear, it's also fine to work on the same dataset as someone else, as there are only 5 datasets currently. The goal is just to collect a diversity of models and approaches across these datasets.

[2020-03-05 17:38] dzeber commented on #7
You're welcome to work on it and submit a contribution! We're not assigning issues currently to allow people to bring multiple perspectives or approaches to these questions.

[2020-03-05 17:50] shreyagupta30 commented on #2
Hello @dzeber, I'd like to work on eeg.csv.

[2020-03-05 18:02] Clare-Joyce commented on #2
Hello @dzeber, I will work with the winequality.csv

[2020-03-05 19:57] elie-wanko commented on #2
Hello @dzeber, I will be working on the **defaults.csv** dataset.

[2020-03-05 20:04] BBimie commented on #2
Hello @dzeber, I'll work with the winequality.csv

[2020-03-05 20:10] hammedb197 commented on #2
Hello @dzeber, I will be working on vehicles.csv.

[2020-03-05 20:59] shiza16 commented on #2
Hello @dzeber , I'd like to work on vehicle.csv .

[2020-03-06 03:50] terminator-4 commented on #2
I would like to work on eeg.csv dataset.

[2020-03-06 06:02] alberginia commented on #2
I have been working on the generated.cvs dataset with SVMs.

[2020-03-06 08:15] Soniyanayak51 commented on #2
I would like to work on defaults.csv @dzeber

[2020-03-06 08:34] shristi428 commented on #7
how can we contribute in the project should we PR then you assign us task ?

[2020-03-06 09:18] silvererudite commented on #2
I would be working on vehicles.csv  @dzeber

[2020-03-06 10:12] blancadesal commented on #2
Hi all! I will be working on the winequality.csv dataset.

[2020-03-06 10:24] SanchiMittal commented on #2
I will be working with winequality.csv dataset.

[2020-03-06 13:07] aakankshadhurandhar commented on #2
@dzeber I will be working on the default.csv dataset.

[2020-03-06 14:07] Bolaji61 commented on #2
Hi @dzeber , I will be working on the vehicles.csv dataset.

[2020-03-06 16:53] NailaNeena commented on #2
Hello @dzeber, How can we submit the task after completion?

[2020-03-06 19:18] dzeber commented on #7
@shristi428 You can submit a PR referencing the issue you worked on.

[2020-03-06 19:21] dzeber commented on #2
When you are done with this task, please submit a PR following the guidelines listed in the [README](https://github.com/mozilla/PRESC#contribution-guidelines).

[2020-03-07 10:49] Addi-11 commented on #3
Hello, I would like to work on this issue. Could our classifier have Non-linear decision boundary??

[2020-03-07 11:39] maxtastu commented on #2
Hello everyone, I am working on the wine quality dataset. I didn't pick a model yet.

[2020-03-07 12:16] pratyush-ragini commented on #2
Hi @dzeber , I shall be working on the vehicles.csv dataset

[2020-03-07 12:33] NailaNeena commented on #2
Hello @dzeber, I have some question regarding training data-set. I am using Vehicles data-set, I load the dataset. But my question is that should we train it against some rows or against some columns?

[2020-03-07 12:40] janvi04 commented on #2
Hi @dzeber , I will be working on wine quality dataset.

[2020-03-07 13:11] Addi-11 commented on #3
Hello, I would like to work on this issue.

[2020-03-07 15:48] asthad16 commented on #2
hello, i am beginning my learning and exploration by working on wine quality dataset.

[2020-03-07 20:08] Addi-11 commented on #3
![splits](https://user-images.githubusercontent.com/47007177/76151651-33b8a800-60dd-11ea-82d1-7bfd63f5c74d.png)
Is this the requirement ??

[2020-03-07 20:09] Addi-11 commented on #3
I am working on the tabulated form and including graphs too. Is anything else required??

[2020-03-07 23:44] Addi-11 commented on #3
I have submitted a PR regaring this issue, kindly review.

[2020-03-08 05:26] Soniyanayak51 commented on #6
@dzeber I would like to work on this.

[2020-03-08 09:27] Sidrah-Madiha commented on #6
@dzeber  I have a question for this issue: I am not sure what is meant by spread of y-values, does this mean there should be a plot of x and average y, and there should be a color shading from minimum value of y to maximum value of y at each point?

[2020-03-08 10:03] NailaNeena commented on #2
Is there any one who could till me that how to identify the dependent and independent variable in a data-set?
like in Vehicles what will be the dependent variable?

[2020-03-08 10:09] Soniyanayak51 commented on #2
@NailaNeena the label column is given for each dataset in the description. For Vehicles, the dependent/target variable is 'Class'.

[2020-03-08 10:11] NailaNeena commented on #2
Thanks @Soniyanayak51

[2020-03-08 11:11] simran0117 commented on #2
Hey, I am working with wine quality dataset and using SVMs and KNN.

[2020-03-08 18:21] Soniyanayak51 commented on #5
@dzeber I would like to try this.

[2020-03-08 18:42] asthad16 commented on #2
#26

[2020-03-08 18:46] asthad16 commented on #2
#26

[2020-03-09 00:29] brandan1989 commented on #2
Hello @dzeber, I will be working on the vehicles.csv dataset.

[2020-03-09 09:40] lalapupa commented on #2
Hello @dzeber, I'd like to work on defaults.csv

[2020-03-09 17:30] dzekem commented on #2
Hi @dzeber I will be working on the **Defaults.csv dataset.**

[2020-03-10 00:54] opeyemiferanmi1 commented on #2
Hi @dzeber I will be working on the vehicles.csv dataset

[2020-03-10 10:09] shashigharti commented on #2
Hi @dzeber I  will use vehicles.csv dataset

[2020-03-10 10:16] shashigharti commented on #3
I will work on this issue

[2020-03-10 13:26] NitiKaur commented on #2
hello @dzeber  I will be working with the wine quality dataset and will be using SVM and KNN

[2020-03-10 14:30] simran0117 commented on #6
I have tried #2 with SVM and KNN on Wine Quality Dataset, I would like to plot the outputs of the same and also work on this. Should I go for something specific, before a general approach @dzeber?

[2020-03-10 18:56] swatik718 commented on #2
Hi @dzeber I'm working on the eeg.csv dataset, going to use an instance based classifier model

[2020-03-10 23:44] msmelo commented on #2
Hi everyone!
I'm going to work on the winequality.csv dataset.

[2020-03-11 00:07] dzeber commented on #2
Yes please.

[2020-03-11 00:10] dzeber commented on #2
@NailaNeena You should be training a model that predicts the `Class` column from the other columns.

[2020-03-11 00:14] dzeber commented on #3
@Addi-11 I saw your PR, we can discuss further there. Yes, the requirement is a function that returns the tabular form.

[2020-03-11 00:18] dzeber commented on #6
@Sidrah-Madiha yes, something like that would work. It's nice to see some representation of the spread to see how far the individual values tend to be from the mean.

[2020-03-11 00:21] dzeber commented on #6
@simran0117 The ultimate goal would be a general approach. However, I recommend using your previous notebook as a place to develop your idea for this, and then move your code a separate module and make sure it does not depend on the specific model or metric used in the notebook. Also, you should include the notebook in your PR showing an example of your function in action!

[2020-03-11 01:03] lauramurphy12 commented on #2
Hi everyone! I'm going to work on the winequality.csv dataset

[2020-03-11 04:43] namrathagopalabhatla commented on #2
Hey! I have started working on vehicles.csv dataset using Logistic Regression

[2020-03-11 10:14] NailaNeena commented on #2
Yes, I am done with this task. Thanks

[2020-03-12 09:21] archisha-chandel commented on #2
Hi @dzeber , I am working on winequality.csv with the model -  SGDClassifier

[2020-03-12 09:32] namrathagopalabhatla commented on #7
Hey @dzeber! What dataset do we use to test out our code?

[2020-03-12 13:59] janvi04 commented on #8
@dzeber I want to work on this issue. I had a doubt. I an working with winequality dataset. Can I perform this task on the same dataset?
Also, this task requires us to asses the performance of a model with a particular datapoint and without it. Pls correct me if I am wrong.

[2020-03-12 17:01] urvigodha commented on #2
Hey @dzeber I'll be working on winequality.csv using a Random Forest model

[2020-03-13 03:23] msmelo commented on #2
@dzeber I'm using a Gradient Boosting model

[2020-03-13 16:40] dzeber opened #63 "Learning from misclassifications"
When training a classification model, it is common to look at accuracy and the confusion matrix, which give a summary view of misclassifications. By itself, these metrics are informative but not very actionable.

Develop a metric or visualization that reveals something more about each misclassified point (beyond just the fact that it was misclassified) that can be used to improve the model.

Some

[2020-03-14 01:09] dzeber commented on #7
@namrathagopalabhatla whichever you like. It might be a good start to use the same data & model you used for #2.

[2020-03-14 01:13] dzeber commented on #8
@janvi04 Yes, you would implement a general method, and you can test it out on any dataset (you can reuse your work from #2).

The goal is to come up with a general score for the "importance" of an individual point in the training set. This would be useful in studying misclassifications, eg. to see whether they are "important" or not. You are encouraged to develop your own approach. Training the m

[2020-03-14 06:09] janvi04 commented on #8
Thanks @dzeber. I will work on it.

[2020-03-17 04:16] tab1tha commented on #8
I was about to make a pull request to this .  Please can you reopen it?

[2020-03-17 05:35] tab1tha commented on #9
I'm working on this.

[2020-03-17 06:51] asthad16 commented on #3
i will work on this issue

[2020-03-17 09:35] tasbihaasim commented on #2
Hi, I am working on defaults.csv dataset with SGDClassifier.

[2020-03-17 14:37] mlopatka commented on #8
I accidentally closed this while merging in a PR yesterday. The issue remains open; apologies.

[2020-03-17 15:13] alberginia commented on #3
Hi! Yesterday after my pull request I realised that [my solution for issue #53](https://github.com/mozilla/PRESC/pull/72) is actually also addressing this one. I have no experience with git, so I have no clue on how to relate the two issues or how should I proceed so that the pull request is also connected to this issue here.

[2020-03-18 04:48] archisha-chandel opened #78 "[Outreachy applications] Covariate Shift"
As said in issue #3, a function has been written to check the evaluation metric for a model when train-test split ratio is varied from 0.0- 1.0. But there are cases where we cannot just randomly decide the split ratio on the basis on evaluation metric as the metric does not improve beyond a certain point. Example: [data set](https://www.kaggle.com/c/porto-seguro-safe-driver-prediction/data) based

[2020-03-18 12:55] dzekem commented on #5
I have sent a pull request for this issue.

[2020-03-18 12:56] dzekem commented on #5
Also working on this issue.

[2020-03-18 16:57] tab1tha commented on #8
@mlopatka You have mistakenly closed it again.

[2020-03-18 17:06] mlopatka commented on #8
thanks

[2020-03-19 16:47] mlopatka commented on #6
There have been several questions about this issue, so I'll try to add a bit of context here:

The intention with this issue is to get everyone thinking about the stability of reported performance in ML. Often times a model will be decided upon, trained, and then documented. In the worst case only a single percentage performance is reported, i.e. "This model exhibits correct classification 92% on

[2020-03-22 06:59] archisha-chandel opened #103 "Make all PRs Black adherent"
As mentioned in the [Contribution guidelines](https://github.com/mozilla/PRESC#contribution-guidelines) :
Code formatting guidelines should strinctly adhere to [Python Black](https://pypi.org/project/black/) formatting guidelines.

Now, sometimes the contributors forget to ensure that the above is followed. To reduce the efforts while making sure the required code formatting is followed, adding Py

[2020-03-22 18:25] arizzogithub commented on #2
Hi @dzeber , I will be working on eeg dataset.

[2020-03-24 00:50] mlopatka opened #117 "[Outreachy applications] ** PLEASE READ ** Updates to PR submission deadlines and review expectations!"
Some of you have reached out to us regarding the closure of the repo to new contributors and the long delays in getting outstanding PRs reviewed. We want to be fair and considerate of all of your excellent work, but we also have to be realistic. We can not keep up with the volume of PRs and maintain a meaningful level of feedback.

- **Regarding new contributors with existing work:** In order to a

[2020-03-24 00:52] mlopatka commented on #117
@mhmohona
@ssempervirens
@Sidrah-Madiha
@shubhank-saxena
@swatik718
@shashigharti
@anujaagarwal
@hammedb197
@Anukriti12
@shreyagupta30
@neozenweb
@janvi04
@dzeber
@mlopatka
@tab1tha
@AghaSaad04
@garvita-jain
@shailzaa
@TaimurAzhar
@Soniyanayak51
@dwvicy
@ebonnecab
@dzekem
@arizzogithub
@Sumangrewal
@rishilss99
@KPoornima
@abbasidaniyal
@aakankshadhurandhar
@KaairaGupta
@alberginia_gitlab
@Clare-Jo

[2020-03-24 11:16] tab1tha commented on #103
Thank you for this @archisha-chandel

[2020-03-24 18:17] asthad16 commented on #117
i have updated  requested changes in my PR.
#26

[2020-03-25 09:11] asthad16 commented on #2
i have done the modifications requested in the same PR #26. please review it. i m sorry for the delay because i was not well.

[2020-03-25 09:13] asthad16 commented on #3
i have worked on the issue #3. i request u to please review my PR #122

[2020-03-25 09:15] asthad16 commented on #4
i am working on this issue.

[2020-03-25 10:48] asthad16 commented on #4
i have submitted a PR #123 that mentions the issue #4 .please review it.

[2020-03-26 16:48] KaairaGupta commented on #117
@mlopatka can we make changes to the PR which we submitted before in this 25th to 30th period?

[2020-03-30 10:28] BBimie commented on #117
I have new commits in my fork but I have been unable to make pull requests.

[2020-04-01 13:37] namrathagopalabhatla commented on #78
Are we supposed to work on this issue?

[2020-04-01 13:50] mlopatka commented on #78
You are free to work on this issue, but it is not required or expected.
You can also spend the next days finalizing your outreachy application.

[2020-04-03 15:37] #8 closed

[2020-04-20 10:27] archisha-chandel opened #170 "Multi-Class Imbalanced Data"
Recent studies point to the fact that it is not the imbalanced data itself, but rather other data difficulty factors, amplified by the data imbalance, that pose a challenge during the learning process. Such factors include small sample size, presence of disjoint and overlapping data distributions, and presence of outliers and noisy observations. Multi-Class nature of classification can further amp

[2020-07-09 14:01] #103 closed

[2020-07-13 21:32] #170 closed

[2020-07-13 22:11] #63 closed

[2020-07-14 00:08] #2 closed

[2020-07-14 00:08] #3 closed

[2020-07-14 00:08] #4 closed

[2020-07-14 00:08] #5 closed

[2020-07-14 00:08] #6 closed

[2020-07-14 00:09] #7 closed

[2020-07-14 00:09] #9 closed

[2020-07-14 00:10] #117 closed

[2020-07-14 00:10] #78 closed

[2020-09-10 20:36] dzeber opened #188 "Implementation for conditional metrics"
Implement the computation for [conditional metrics](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#conditional-metrics).

This can probably be done by refactoring [`presc.misclassifications.misclass_rate.misclass_rate_feature`](https://github.com/mozilla/PRESC/blob/master/presc/misclassifications/misclass_rate.py#L5) to accept a metric function.

[2020-09-10 20:40] dzeber opened #189 "Refactor feature binning logic to separate utility function"
We expect to use the binning methodology from [`presc.misclassifications.misclass_rate.misclass_rate_feature`](https://github.com/mozilla/PRESC/blob/master/presc/misclassifications/misclass_rate.py#L5) in other places. This should be moved out into a separate tested utility function.

[2020-09-10 20:52] dzeber opened #190 "Prototyping for conditional metrics"
Test out applications for the [conditional metrics](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#conditional-metrics) in a notebook using the implemention from #188. These should be run on two different dataset/model pairs.

[2020-09-10 20:55] dzeber opened #191 "Test out a calibration plot using the conditional metrics tool"
Create a calibration plot using the conditional metrics implementation #188. These can be appended to the notebook from #190.

[2020-09-10 21:04] dzeber opened #192 "Investigate baselines for conditional metrics assessment"
How can we make a decision about performance based on conditional metrics? This may either be a general rule or specific to each specific metric. The goal is to propose some approaches using the results of #188 and #190 and test them out in a notebook. This will help to look for patterns that we can use to guide intuition for selecting a baseline.

[2020-09-10 21:10] dzeber opened #193 "Implementation for conditional feature distributions"
Implement the computation for [conditional feature distributions](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#conditional-feature-distributions).

[2020-09-10 21:17] dzeber opened #194 "Prototyping for conditional feature distributions"
Test out the [conditional feature distributions](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#conditional-feature-distributions) in a notebook using the implementation from #193. These should be run on two different dataset/model pairs.

[2020-09-10 21:20] dzeber opened #195 "Investigate using conditional feature distributions in an automated setting"
Does it make sense to use the conditional feature distributions in an automated setting? This should be explored in a notebook using the results of #193 and #194.

[2020-09-10 21:28] dzeber opened #196 "Work out implementation details for counterfactual accuracy"
The description of [counterfactual accuracy](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#counterfactual-accuracy) in the paper makes certain assumptions about the model and dataset. We need to decide how these will affect the implementation.

[2020-09-10 21:32] dzeber opened #197 "Implementation for counterfactual accuracy"
Implement the computation for [counterfactual accuracy](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#counterfactual-accuracy) based on results of #196.

[2020-09-10 21:33] dzeber opened #198 "Prototyping for counterfactual accuracy"
Test out the [counterfactual accuracy](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#counterfactual-accuracy) in a notebook using the implementation from #197 . These should be run on two different dataset/model pairs.

[2020-09-10 21:47] dzeber opened #199 "Implementation of statistical distance measures"
Tracking ongoing work on statistical distance measures.

[2020-09-10 21:49] dzeber opened #200 "Implementation for class fit metric"
Implement the computation for [class fit](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#class-fit).

[2020-09-10 21:50] dzeber opened #201 "Prototyping for class fit"
Test out the [class fit](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#class-fit) in a notebook using the implementation from #200. These should be run on two different dataset/model pairs.

[2020-09-10 21:52] dzeber opened #202 "Investigate baseline for class fit"
The class fit metric is likely only meaningful when compared to a relevant baseline. Develop a baseline computation based on the results from #200 and #201 and test it out in a notebook.

[2020-09-10 23:20] dzeber opened #203 "Implementation for spatial distributions"
Implement the computation for [spatial distributions](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#spatial-distributions). This may be doable using scikit-learn's [`NearestNeighbors`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors). The data will likely need to be scaled first.

[2020-09-10 23:25] dzeber opened #204 "Prototyping for spatial distributions"
Test out the [spatial distributions](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#spatial-distributions) in a notebook using the implementation from #203. These should be run on two different dataset/model pairs.

[2020-09-10 23:27] dzeber opened #205 "Investigate baseline for spatial distributions"
The spatial distributions comparison is likely only meaningful when compared to a relevant baseline, such as the distribution of distances between correctly classified points. Develop a baseline computation based on the results from #203  and #204  and test it out in a notebook.

[2020-09-10 23:38] dzeber opened #206 "Add more datasets to the repo"
We should make a wider variety of datasets available for examples and testing. These should include some requiring more complex models or data transformation.

[2020-09-10 23:41] dzeber opened #207 "Replace dataset files with reproducible code"
Rather than maintaining actual data files in the repo, we should include a script to download them from their source location and apply any preprocessing. The script would then be run on setting up the project and downloads all the datasets locally.

[2020-09-10 23:51] dzeber opened #208 "Dataset wrapper API"
For convenience we should wrap test datasets in an object that offers a common API, eg. accessing feature columns and label column, accessing pre-split train/test sets, etc. That way we don't need to pass around information about column names or indexing separately. There should also be methods for reading and writing from files.

We can probably create instances of these objects directly as a par

[2020-09-10 23:56] dzeber opened #209 "Test/example case wrapper API"
It would be great to have a collection of preset dataset/model pairs with pretrained models that can be easily loaded and used in examples or test cases without needing to copy around per-instance boilerplate code for train/test splitting, model training, etc.

We want to develop a wrapper class that offers this functionality. These example instances will likely reference Dataset instances (#208),

[2020-09-11 00:03] dzeber opened #210 "Curate a collection of dataset/model pairs"
Add a collection of dataset/model pairs to the repo that can be loaded into notebooks for running examples or used in test cases. These should be represented as instances of the class developed in #209.

[2020-09-11 21:34] dzeber opened #211 "Implementation for feature-based splitting"
Implement the computation for [feature-based splitting](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#feature-based-splitting). This can probably use scikit-learn's [GroupKFold](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html#sklearn.model_selection.GroupKFold). Feature splitting should use the shared logic from #189.

[2020-09-11 21:35] dzeber opened #212 "Prototyping for feature-based splitting"
Test out the [feature-based splitting](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#feature-based-splitting) approach in a notebook using the implementation from #211 . These should be run on two different dataset/model pairs.

[2020-09-11 21:39] dzeber opened #213 "Work out implementation details for entropy-based splitting"
Prior to implementing [entropy-based splitting](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#entropy-based-splitting), we need to work out the methodology for splitting the data.

[2020-09-11 21:42] dzeber opened #214 "Implementation of entropy-based splitting"
Implement the computation for [entropy-based splitting](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#entropy-based-splitting) based on results of #213. This should probably be an extension of scikit-learn's [BaseCrossValidator](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_split.py#L49) class.

[2020-09-11 21:43] dzeber opened #215 "Prototyping for entropy-based splitting"
Test out the [entropy-based splitting](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#entropy-based-splitting) approach in a notebook using the implementation from #214. These should be run on two different dataset/model pairs.

[2020-09-11 21:47] dzeber opened #216 "Work out implementation details for label flipping"
Prior to implementing [label flipping](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#label-flipping), we need to work out the methodology for traversing the space of possible label flips.

[2020-09-11 21:48] dzeber opened #217 "Implementation for label flipping"
Implement the computation for label flipping based on results of #216.

[2020-09-11 21:50] dzeber opened #218 "Prototyping for label flipping"
Test out the [label flipping](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#label-flipping) in a notebook using the implementation from #217. These should be run on two different dataset/model pairs.

[2020-09-11 21:57] dzeber opened #219 "Implementation for novelty"
Implement the computation for the [novelty](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#novelty) metric.

[2020-09-11 21:59] dzeber opened #220 "Prototyping for novelty"
Test out the [novelty](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#novelty) metric for datasets in a notebook using the implementation from #219. These should be run on two different dataset/model pairs.

[2020-09-18 17:35] alberginia commented on #193
I implemented this one for my Outreachy application:
https://github.com/mozilla/PRESC-Outreachy-archive/blob/master/dev/alberginia/alberginia_issue7_3datasets.ipynb

[2020-09-18 17:35] alberginia commented on #194
I implemented this one for my Outreachy application:
https://github.com/mozilla/PRESC-Outreachy-archive/blob/master/dev/alberginia/alberginia_issue7_3datasets.ipynb

[2020-10-17 00:22] #208 closed

[2020-10-25 02:26] AYYYang commented on #193
@dzeber @alberginia
I think I understand most of the specification, however, I have a question regarding the input.
Two of the allowed inputs are: `predicted scores or a function of the features`
I am assuming that `predicted score` means the `y` column in the test dataset. I am not sure what should be the output, more specifically, let's say if we are plotting a histogram, what should be on the x

[2020-10-29 01:36] dzeber commented on #193
Sorry for the delay in getting you feedback on this!

The goal would be, given a column of data, to create a separate histogram corresponding to the subset of rows that fall into each cell of the confusion matrix. For example, with two classes there would be 4 histograms. To determine this grouping, you can use the column of true labels (eg. `y_true`) and the column of predicted labels (eg. `y_pre

[2021-02-22 19:25] #188 closed

[2021-02-22 19:26] #189 closed

[2021-02-22 19:26] #193 closed

[2021-02-22 19:27] #203 closed

[2021-02-22 19:37] dzeber commented on #196
Merged this into #197

[2021-02-22 19:37] #196 closed

[2021-02-22 19:40] dzeber commented on #191
This will be superceded by other explorations.

[2021-02-22 19:40] #191 closed

[2021-02-22 19:50] dzeber opened #238 "Management for config options"
Many components of the PRESC computations should be customizable by a user running the tools in their own environment. Some options are currently passed around as function args, but we need a more unified way of setting config options that doesn't require code changes, eg. via a config file.

Some of the components that will be configured via options are:

- The evaluation computations, eg. the bi

[2021-02-22 19:54] dzeber opened #239 "Set up automatic API documentation"
Get set up with a tool, eg. Sphinx, to auto-generate API documentation for the library.

[2021-02-22 20:00] dzeber opened #240 "Rework evaluation visualizations"
The existing visualizations could stand to be tidied up and made more uniform in appearance. Together with this, we would like to move to a visualization library that offers clean, maintainable syntax and interactivity features out-of-the-box (currently considering [Altair](https://altair-viz.github.io/)).

The goal is to review and refactor the visualizations for the currently implemented evaluat

[2021-02-22 20:13] dzeber opened #241 "Add a unified entrypoint to run the report"
We need a better interface to run the report from, and to remove any dependency on the [example dataset/model](https://github.com/mozilla/PRESC/blob/master/presc/report/setup_report.py) we are currently using in the report.

As a part of this, we need a way to share the required inputs (data/model/config) between the notebooks. Looks like the simplest approach would be to serialize and reload sepa

[2021-02-22 20:22] dzeber opened #242 "Refactor the spatial distribution evaluation"
Refactor the existing evaluation for [spatial distributions](https://github.com/mozilla/PRESC/tree/master/presc/spatial_distribution) to conform with the new design for `presc.evaluations`

[2021-02-22 20:23] dzeber opened #243 "Refactor the training stability evaluations"
Refactor the existing evaluation for [training stability](https://github.com/mozilla/PRESC/tree/master/presc/training_stability) to conform with the new design for `presc.evaluations`

[2021-02-22 20:25] dzeber opened #244 "Add test coverage for new code"
The refactored evaluations and report interface are still missing test coverage. Some may be able to be refactored out of [the old versions](https://github.com/mozilla/PRESC/tree/master/tests/deprecated).

[2021-02-22 22:13] dzeber opened #246 "Convert the notebooks to MyST format"
We should consider migrating the report notebooks to jupyter-book's [MyST](https://jupyterbook.org/content/myst.html) format. It is similar to RMarkdown, ie. a flat markdown file and should be more maintainable in the long run.

[2021-02-22 22:20] dzeber opened #247 "Improve documentation"
Documentation needs to be updated in line with recent improvements. This should complement the API docs from #239 and include:

- [ ] high-level docs on project structure and functionality, ie. how the components work together
- [ ] practical docs on how to get set up to run the report, along with multiple examples

[2021-02-22 22:22] dzeber opened #248 "Add error handling & validation with user-facing messages"
Currently we have been building out functionality without much consideration to input validation, failure cases, etc. Now that we have more visibility into the high-level system, we should add better error handling & validation with user-interpretable messages.

[2021-02-22 22:36] dzeber opened #249 "Exploration: conditional metrics"
The conditional metrics evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/model pairs, but more is fine

[2021-02-22 22:36] dzeber commented on #190
This is covered by a later issue.

[2021-02-22 22:36] #190 closed

[2021-02-22 22:37] dzeber commented on #192
Replaced by #249

[2021-02-22 22:37] #192 closed

[2021-02-22 22:42] dzeber opened #250 "Exploration: conditional feature distributions"
The conditional feature distributions evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/model pairs, bu

[2021-02-22 22:43] dzeber commented on #250
Some initial work has been done here: https://github.com/mozilla/PRESC-Outreachy-archive/blob/master/dev/alberginia/alberginia_issue7_3datasets.ipynb

[2021-02-22 22:43] dzeber commented on #194
Replaced by #250

[2021-02-22 22:43] #194 closed

[2021-02-22 22:43] dzeber commented on #195
Replaced by #250

[2021-02-22 22:43] #195 closed

[2021-02-22 22:44] dzeber opened #251 "Exploration: counterfactual accuracy"
Once implemented, the counterfactual accuracy evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/model p

[2021-02-22 22:44] dzeber commented on #198
Replaced by #251

[2021-02-22 22:44] #198 closed

[2021-02-22 22:45] dzeber opened #252 "Exploration: spatial distributions"
The spatial distributions evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/model pairs, but more is fi

[2021-02-22 22:46] dzeber commented on #204
Replaced by #252

[2021-02-22 22:46] #204 closed

[2021-02-22 22:46] dzeber commented on #205
Replaced by #252

[2021-02-22 22:46] #205 closed

[2021-02-22 22:48] dzeber opened #253 "Exploration: class fit"
Once implemented, the class fit evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/model pairs, but more

[2021-02-22 22:49] dzeber commented on #201
Replaced by #253

[2021-02-22 22:49] #201 closed

[2021-02-22 22:49] dzeber commented on #202
Replaced by #253

[2021-02-22 22:49] #202 closed

[2021-02-22 22:52] dzeber commented on #209
This is somewhat covered by [`ClassificationModel`](https://github.com/mozilla/PRESC/blob/master/presc/model.py). This direction should be reconsidered before proceeding further.

[2021-02-22 22:52] #209 closed

[2021-02-22 22:59] dzeber opened #254 "Exploration: feature-based splitting"
Once implemented (#211 ), the feature-based splitting evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset

[2021-02-22 22:59] dzeber commented on #212
Replaced by #254

[2021-02-22 22:59] #212 closed

[2021-02-22 23:02] dzeber commented on #213
Rolled into #214

[2021-02-22 23:02] #213 closed

[2021-02-22 23:03] dzeber opened #255 "Exploration: entropy-based splitting"
Once implemented (#214), the entropy-based splitting evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/

[2021-02-22 23:03] dzeber commented on #215
Replaced by #255

[2021-02-22 23:03] #215 closed

[2021-02-22 23:06] dzeber commented on #216
Rolled into #217

[2021-02-22 23:06] #216 closed

[2021-02-22 23:06] dzeber opened #256 "Exploration: label flipping"
Once implemented (#217), the label flipping evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/model pai

[2021-02-22 23:07] dzeber commented on #218
Replaced by #256

[2021-02-22 23:07] #218 closed

[2021-02-22 23:08] dzeber opened #257 "Exploration: novelty"
Once implemented (#219), the novelty evaluation needs to be tested out against a variety of datasets/models in order to surface any issues or potential improvements. This can be run as a data analysis project using the datasets in the repo and added to the [`examples`](https://github.com/mozilla/PRESC/tree/master/examples) dir. This can be considered done with at least 2-3 dataset/model pairs, but

[2021-02-22 23:08] dzeber commented on #220
Replaced by #257

[2021-02-22 23:08] #220 closed

[2021-02-22 23:36] dzeber opened #258 "Allow user-specified metric to be used with conditional metrics"
Currently the metric used in the [conditional metric](https://github.com/mozilla/PRESC/blob/master/presc/evaluations/conditional_metric.py#L111) evaluation is hardcoded. We should allow one or more metrics to be specified by the user. A user-specified metric should include both the function and a display name.

[2021-02-23 00:48] #238 closed

[2021-02-26 16:03] #239 closed

[2021-02-27 01:30] dzeber opened #262 "Package-wide config"
Currently the config options for the evaluations are only pulled in on running the report. It would be good to have package-wide access to the config options, so that individual computations have access to the default options if they are imported.

[2021-02-27 01:34] dzeber opened #263 "Organize & expand config options"
- [ ] Develop an organization structure for the config options to be used in different parts of the library
- [ ] Implement basic report-level options controlling which notebook get included
- [ ] Implement basic evaluation-level options controlling the scope of evaluation execution, eg. which columns to include & per-column overrides

[2021-03-03 17:39] #241 closed

[2021-03-06 02:43] dzeber commented on #262
@gleonard-m As I wasn't sure of your availability this week, I've made a start on this and will submit something on Monday.

[2021-03-08 17:53] #263 closed

[2021-03-08 18:40] dzeber commented on #258
I was thinking we allow a list of metrics in the config, eg.
[code]
If there are multiple metrics, the simplest thing is just to rerun the [computation/display](https://github.com/mozilla/PRESC/blob/master/presc/evaluations/conditional_metric.py#L177).

We should also allow for the metrics to be set in the column-specific overrides which get picked up in [`compute_for_column`](https://github.com/m

[2021-03-11 17:41] #258 closed

[2021-03-12 15:59] #242 closed

[2021-03-12 19:30] #243 closed

[2021-03-13 14:43] #247 closed

[2021-05-10 18:43] dzeber opened #273 "Implementation/refactoring of cross-validation fold exploration"
The [methodology](https://github.com/mozilla/PRESC/blob/master/docs/ROADMAP.md#cross-validation-folds) to explore the effect of different CV fold choices has already been prototyped [here](https://github.com/mozilla/PRESC/blob/master/presc/deprecated/training_stability/cross_validation.py). We need to refactor it into an Evaluation following the new design. It should be very similar to the [train-

[2021-06-08 16:22] gleonard-m opened #277 "Update Dataset model to accept pre split train/test"
Currently Dataset takes one pandas DataFrame and splits is into train and test sets.
Add an option to set the train and test DataFrames explicitly and prevent those DataFrames  from being subsequently split.

[2021-06-10 18:46] gleonard-m commented on #277
After review this is not necessary.  Current implementation can be used as is.

[2021-06-10 18:46] #277 closed

[2021-06-12 00:52] dzeber commented on #244
I'm still working on sorting through the old code and tests and looking at what can be ported over. I will try to get this done on Monday. I've started making some updates on [this branch](https://github.com/mozilla/PRESC/tree/clean-up-deprecated).

[2021-06-15 00:49] dzeber commented on #244
@gleonard-m I've been going through the deprecated tests and code and adding comments on [this branch](https://github.com/mozilla/PRESC/tree/clean-up-deprecated). I've been making the following changes:

- Removed code from `presc.deprecated` that is no longer needed or already ported to `presc.evaluations`.
    + either removing the entire module or parts
- In some cases I've moved the deprecated

[2022-09-22 00:33] dzeber opened #291 "Additional comments for #289"
@alberginia Here are some additional comments or nice-to-have fixes we can do for #289.

- Remove the `ML_copies` prefix from the names of the example notebooks, now that
  they're in their own folder
- Remove `sys.path.append("../..")` cells from notebooks. This should not be
  necessary if the enviornment is set up as described in the README.
- The projected class density plots can be difficult

[2022-09-22 22:40] dzeber opened #293 "Additional comments for #290"
@alberginia Is there a reason for keeping the Queue managed outside of the SyntheticDataStreamer? I feel like this is an implementation detail that should be encapsulated inside the streamer class. The queue could be a member variable of the SyntheticDataStreamer class, set up automatically when the streamer instance is created. Then SyntheticDataStreamer could have a `get()` method which gets an